<!DOCTYPE html>

@* TODO: lang depends on country *@
<html lang="en">
<head>
    <title>
        TODO
    </title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>