@using Syncfusion.EJ2.Navigations
<!DOCTYPE html>

@* TODO: lang depends on country *@
<html lang="en">
<head>
    <environment names="Staging,Production">
        <link asp-href-include="~/lib/css/*.min.css" asp-href-exclude="~/lib/css/*-dark.min.css" rel="stylesheet"/>
        <link asp-href-include="~/out/css/*.min.css" asp-href-exclude="~/lib/css/*-dark.min.css" rel="stylesheet"/>
    </environment>
    <environment names="Development">
        <link asp-href-include="~/lib/css/*.css" asp-href-exclude="~/lib/css/*.min.css,~/lib/css/*-dark.css" rel="stylesheet"/>
        <link asp-href-include="~/css/global.css" rel="stylesheet"/>
        <link asp-href-include="~/css/*.css" asp-href-exclude="~/css/global.css,~/css/*-dark.css" rel="stylesheet"/>
    </environment>
    
    <environment names="Staging,Production">
         <script asp-src-include="~/lib/js/*.min.js" type="text/javascript"></script>
         <script asp-src-include="~/out/js/*.min.js" type="text/javascript"></script>
    </environment>
    <environment names="Development">
        <script asp-src-include="~/lib/js/*.js" asp-src-exclude="~/lib/js/*.min.js" type="text/javascript"></script>
        <script asp-src-include="~/js/*.js" type="text/javascript"></script>
    </environment>
    
    <title>Smart home</title>
</head>
<body>
<nav><partial name="Menu" /></nav>
<main>
    <h1>@ViewBag.Header</h1>
    @RenderBody()
</main>

<ejs-scripts></ejs-scripts>
</body>
</html>