<!DOCTYPE html>

@* TODO: lang depends on country *@
<html lang="en">
<head>
    <link asp-href-include="~/lib/css/*.css" rel="stylesheet" />
    <script asp-src-include="~/lib/js/*.min.js"></script>
    <title>
        TODO
    </title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>