@using Syncfusion.EJ2.Navigations

<style>
    .menu>div:nth-child(2) {
        float: right;
    }
</style>

@{
    bool isAdmin = User.IsInRole("Admin");
    bool isUser = User.IsInRole("User");
    bool isAuthenticated = User.Identity.IsAuthenticated;
    
    var leftMenuItems = new List<MenuItem>();
    leftMenuItems.Add(new MenuItem
    {
        Text = "Home",
        Url = Url.Action("Overview", "Home")
    });
    leftMenuItems.Add(new MenuItem()
    {
        Text = "Statistics"
    });

    if (isAdmin)
    {
        leftMenuItems.Add(new MenuItem()
        {
            Text = "Files",
            Url = Url.Action("Files", "Home")
        });
    }

    if (isUser)
    {
        leftMenuItems.Add(new MenuItem()
        {
            Text = "Enumerations",
            Items = new List<MenuItem>()
            {
                new MenuItem() {Text = "Battery power source types", Url = Url.Action("List", "BatteryPowerSourceType")},
                new MenuItem() { Text = "Places", Url = Url.Action("List", "Place") },
                new MenuItem() { Text = "Sensors", Url = Url.Action("List", "Sensor")},
                new MenuItem() { Text = "Sensor types", Url = Url.Action("List", "SensorType") }
            }
        });
    }

    if (isUser)
    {
        leftMenuItems.Add(new MenuItem()
        {
            Text = "Measurements",
            Items = new List<MenuItem>()
            {
                new MenuItem() {Text = "Temperature", Url = Url.Action("List", "TemperatureMeasurement")}
            }
        });
    }

    if (isAdmin)
    {
        leftMenuItems.Add(new MenuItem()
        {
            Text = "Administration",
            Items = new List<MenuItem>()
            {
                new MenuItem() { Text = "Users", Url = Url.Action("UserList", "User") },
                new MenuItem() { Text = "Roles", Url = Url.Action("RoleList", "Role") },
            }
        });
    }

    var rightMenuItems = new List<MenuItem>();
    if (isAuthenticated)
    {
        rightMenuItems.Add(new MenuItem()
        {
            Text = "Account",
            Items = new List<MenuItem>()
            {
                new MenuItem() {Text = "Settings", Url = Url.Action("Detail", "Account")},
                new MenuItem() {Text = "Log Out", Url = Url.Action("LogOut", "Account")}
            }
        });
    }
    else
    {
        rightMenuItems.Add(new MenuItem()
        {
            Text = "Log In",
            Url = Url.Action("Login", "Account")
        });
    }
}
<div class="menu-control menu small-hide">
    <ejs-menu id="main-menu-left" items="leftMenuItems" showItemOnClick="true"></ejs-menu>
    <ejs-menu id="main-menu-right" items="rightMenuItems" showItemOnClick="true"></ejs-menu>
</div>

@{
    var items = leftMenuItems.Concat(rightMenuItems).ToList();
}

<div class="menu-control menu small-show">
    <ejs-menu id="main-menu-left-hamburger" items="items" hamburgerMode="true" showItemOnClick="true"></ejs-menu>
</div>