body {
    background-color: rgb(240, 234, 234);
}

main {
    width: 60%;
    margin: 2em auto;
    font-family: "Calibri";
    font-size: 16px;

    position: relative;
}

.section {
    background-color: white;
    margin: 1em 0 4em;
    padding: 1em;
    border-style: groove;
    border-radius: 0.5em;
}

h1, h2, h3, h4 {
    text-align: center;
}

@media screen and (max-width: 700px) {
    main {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    main {
        width: 90%;
    }
}
@media print {
    main {
        width: 100%;
    }

    article .section {
        border: 0;
    }

    .print-hide {
        display: none;
        visibility: hidden;
    }

    /* by default hide anchor href text */
    a[href]:after {
        content: none !important;
    }

    article .section {
        transform: none;
    }
}