@using Syncfusion.EJ2.LinearGauge
@model SmartHome.Web.Models.Home.OverviewViewModel

<article>
    <h1>Overview</h1>
    <section>
        <div class="row">
            <div class="col-sm">
                <temperature-card url="http://www.janpalasek.com" inside="false" temperature="10" title="Temperature outside" />
            </div>
            <div class="col-sm">
                <temperature-card inside="true" temperature="21" title="Temperature inside" />
            </div>
        </div>
    </section>
</article>