@model SmartHome.Web.Models.Admin.ChangePasswordViewModel
@{
    ViewBag.Header = "Change password";
}

<div asp-validation-summary="All"></div>

<section class="section control-section form-section">
    <form method="post">
        <input asp-for="Model.Id" type="hidden" />
        <div class="form-group">
            <ejs-textbox id="old-password" ejs-for="Model.OldPassword" placeholder="Old password" floatLabelType="Auto" type="Password"></ejs-textbox>
        </div>
        <div class="form-group">
            <ejs-textbox id="new-password" ejs-for="Model.NewPassword" placeholder="New password" floatLabelType="Auto" type="Password"></ejs-textbox>
        </div>

        <div class="form-group">
            <ejs-textbox id="new-password-check" placeholder="New password" floatLabelType="Auto" type="Password"></ejs-textbox>
        </div>
        <ejs-button id="button" type="submit" content="Create" cssClass="e-primary"></ejs-button>
    </form>
</section>

<script>
    function checkSamePasswords() {
        var newPassword = $("#new-password").val();
        var newPasswordChecked = $(this).val();
        
        if (newPassword !== newPasswordChecked) {
            $(this).parent().addClass("e-error");
        }
        else {
            $(this).parent().removeClass("e-error");
        }
    }
    
    $("#new-password").on("input", checkSamePasswords);
    $("#new-password-check").on("input", checkSamePasswords);
</script>