@model SmartHome.Web.Models.Admin.DetailUserViewModel

@{
    ViewBag.Header = "User";
}

<div asp-validation-summary="All"></div>

<section class="form-section">
    <a href="@Url.Action("ChangePassword", new {id = Model.Model.Id})">
        <ejs-button id="password-change" content="Change password">
        </ejs-button>
    </a>
    <section class="section control-section">
        <div class="form-group">
            <ejs-textbox id="user-name" ejs-for="Model.UserName" placeholder="User name" floatLabelType="Auto" readonly="true"></ejs-textbox>
        </div>
        <div class="form-group">
            <ejs-textbox id="email" ejs-for="Model.Email" placeholder="E-mail" floatLabelType="Auto" type="Email" readonly="true"></ejs-textbox>
        </div>
    </section>
    
    <h2>Roles</h2>
    <form class="section control-section">
        <ejs-multiselect id="roles" ejs-for="Roles" dataSource="@Model.AvailableRoles">
            <e-multiselect-fields text="Name" value="Name"></e-multiselect-fields>
        </ejs-multiselect>
    </form>
</section>