@model SmartHome.Web.Models.Admin.CreateUserViewModel
@{
    ViewBag.Header = "User";
}

<div asp-validation-summary="All"></div>

<section class="section control-section form-section">
    <form method="post">
        <div class="form-group">
            <ejs-textbox id="user-name" ejs-for="Model.UserName" placeholder="User name" floatLabelType="Auto"></ejs-textbox>
        </div>
        <div class="form-group">
            <ejs-textbox id="email" ejs-for="Model.Email" placeholder="E-mail" floatLabelType="Auto" type="Email"></ejs-textbox>
        </div>
        <div class="form-group">
            <ejs-textbox ejs-for="Model.Password" id="password" placeholder="Password" floatLabelType="Auto" type="Password"></ejs-textbox>
        </div>
        <ejs-button id="button" type="submit" content="Create" cssClass="e-primary"></ejs-button>
    </form>
</section>