@model SmartHome.Web.Models.Place.PlaceViewModel
@{
    ViewBag.Header = "Place";
}

<div asp-validation-summary="All"></div>

<section class="control-section form-section">
    <div class="form-group">
        <a href="@Url.Action("Delete", new {id = Model.Model.Id})">
            <ejs-button id="delete-button" content="Delete"></ejs-button>
        </a>
    </div>
    <form method="post" class="section">
        <input type="hidden" asp-for="Model.Id"/>
        <div class="form-group">
            <ejs-textbox id="name" ejs-for="Model.Name" placeholder="Name" floatLabelType="Auto"></ejs-textbox>
        </div>
        <div class="form-group">
            <ejs-checkbox id="is-inside" ejs-for="Model.IsInside" label="Inside"></ejs-checkbox>
        </div>
        <div class="form-group">
            <ejs-textbox ejs-for="Model.Note" id="note" placeholder="Note" multiline="true" floatLabelType="Auto"></ejs-textbox>
        </div>
        <ejs-button id="button" type="submit" content="Submit" cssClass="e-primary"></ejs-button>
    </form>
</section>