@model SmartHome.Web.Models.User.RoleListViewModel

@{
    ViewBag.Header = "Role";
}

<section>
    <a asp-action="Create"><ejs-button id="create" content="Create" cssClass="e-primary"></ejs-button></a>
    
    <ejs-grid id="grid" dataSource="Model.Items">
        <e-grid-columns>
            <e-grid-column field="Name" headerText="Name"></e-grid-column>
            <e-grid-column template="#detail-template" textAlign="Right"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
    
    <script id="detail-template" type="text/x-template">
        <a href="Detail/${Id}"><button class="e-control e-btn e-lib">Detail</button></a>
    </script>
</section>
