@model SmartHome.Web.Models.Role.DetailRoleViewModel
@{
    ViewBag.Header = "Role";
}

<div asp-validation-summary="All"></div>

<section class="section control-section small-layout">
    <form method="post" asp-action="RoleUpdate">
        <input type="hidden" asp-for="Model.Id "/>
        <div class="form-group">
            <ejs-textbox id="role-name" ejs-for="Model.Name" placeholder="Name" floatLabelType="Auto"></ejs-textbox>
        </div>
        <ejs-button id="button" type="submit" content="Update" cssClass="e-primary"></ejs-button>
    </form>
</section>