@model SmartHome.Web.Models.Account.LoginViewModel

<div asp-validation-summary="All"></div>

<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="form-group">
        <label asp-for="Model.Login"></label>
        <input asp-for="Model.Login" />
    </div>
    <div class="form-group">
        <label asp-for="Model.Password"></label>
        <input asp-for="Model.Password" type="password"/>
    </div>
    <div class="form-group">
        <label asp-for="Model.RememberMe"></label>
        <input asp-for="Model.RememberMe" type="checkbox"/>
    </div>
    <button class="btn btn-primary" type="submit">TODO</button>
</form>