@model SmartHome.Web.Models.Account.LoginViewModel

<div asp-validation-summary="All" class="section"></div>

<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="form-group">
        <label asp-for="Model.Email"></label>
        <input asp-for="Model.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Model.Password"></label>
        <input asp-for="Model.Password" class="form-control"/>
    </div>
    <button class="btn btn-primary" type="submit">TODO</button>
</form>